@import "~@enact/sandstone/styles/mixins.less";

.app {
  .transition {
    pointer-events: none;

    .inner > * {
      pointer-events: auto;
    }
  }

  .basement {
    position: absolute;
    .position(0);
  }

  .controls {
    padding: 70px;
    background-color: #ededed;
    // background-color:transparent;
    border-radius: 0.83333rem;
    margin: 1.66667rem;
    padding: 1.08333rem 2.5rem;
	color: black;
  }
}
